<h1> Edit a band! </h1>

<form action='<%= band_url(@band) %>' method="POST">
  <input type='hidden' name='_method' value='patch'>

  <label for='band-name'>Band name:</label>
  <input id='band-name' type='text' name='band[name]' value='<%= @band.name %>'>
  <br>

  <button>Edit band!</button>
</form>
