<h1> Add a band! </h1>

<form action='<%= bands_url %>' method="POST">

  <label for='band-name'>Band name:</label>
  <input id='band-name' type='text' name='band[name]'>
  <br>

  <button>Add band!</button>
</form>
