<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if current_user %>
<form method="POST" action='<%= session_url  %>'>
  <input type='hidden' name='_method' value='DELETE'>
  <button>Log out</button>
</form>
<% end %>

</body>
</html>
